<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="menu-toggle-button" [class.active]="toggleActive" (click)="toggleRightSidenav();">
            <mat-icon class="menu-icon" aria-hidden="false" aria-label="open sidenav">menu</mat-icon>
        </button>
                <span class="app-title">Hussain For Community</span>
        <span class="example-spacer"></span>

                <div class="desktop-nav">
                        <button mat-button [matMenuTriggerFor]="aboutus">About Us</button>
                    <button mat-button [matMenuTriggerFor]="programAndService">Program & Services</button>
                    <button mat-button [matMenuTriggerFor]="multimedia">Multimedia</button>
                        <button mat-button (click)="toggleLanguage()" class="language-toggle">
                            {{ currentLanguage === 'en' ? 'دری' : 'English' }}
                        </button>
                </div>

                <button mat-icon-button class="mobile-language-toggle" (click)="toggleLanguage()" aria-label="toggle language">
                        <mat-icon>language</mat-icon>
                </button>

        <mat-menu #aboutus="matMenu" xPosition="after">
            <button mat-menu-item routerLink="/Vision_Mission_And_Value">Vision, Mission & Value</button>
            <button mat-menu-item routerLink="/History_And_Timeline">History and Timeline</button>
            <button mat-menu-item>Programs</button>
            <button mat-menu-item>Memmbership</button>
            <button mat-menu-item>Board of Director</button>
            <button mat-menu-item>Contact Us</button>
          </mat-menu>

                <mat-menu #programAndService="matMenu" xPosition="after">
                        <button mat-menu-item [matMenuTriggerFor]="serviceoverview">Service Overview</button>
                </mat-menu>

                <mat-menu #serviceoverview="matMenu" xPosition="after">
                        <button mat-menu-item routerLink="/Program_Service/Service_Overview/Feature_Programs">Feature programs</button>
                        <button mat-menu-item routerLink="/Program_Service/Service_Overview/News_And_Events">News & Events</button>
                </mat-menu>

                <mat-menu #multimedia="matMenu" xPosition="after">
                        <button mat-menu-item routerLink="/Multimedia/Video_Gallery">Video Gallery</button>
                        <button mat-menu-item routerLink="/Multimedia/Picture_Gallery">Picture Gallery</button>
                    </mat-menu>

    </mat-toolbar-row>



</mat-toolbar>