<div>
    <iframe id="iframe" title="prayerWidget" class="widget-m-top" 
    style=" height: 358px; border: 1px solid #ddd;" frameborder="0" scrolling="no" 
    src="https://www.islamicfinder.org/prayer-widget/6252001/shafi/5/0/15.0/15.0"> 
    </iframe>
</div>

<div>
    <iframe id="g2hFrame" title="islamic-calendar"
     style="width: 250px; height: 312px; border: 1px solid #ddd;" 
    frameborder="0" scrolling="no" 
    src="https://www.islamicfinder.org/islamic-calendar/widgetGregorian?type=Gregorian"> </iframe>
</div>

<div>
    <iframe id="h2gFrame" title="islamic-calendar" 
    style="width: 250px; height: 312px; border: 1px solid #ddd;" 
    frameborder="0" scrolling="no" 
    src="https://www.islamicfinder.org/islamic-calendar/widgetGregorian?type=Hijri"> </iframe>
</div>
