<h1 class="mat-headline">HISTORY & TIMELINE</h1>
<div class="overflowTest">
    <p class="mat-body">In 1954, a handful of Palestinian immigrants on Chicago’s famous Southside established the
        Mosque
        Foundation of Chicago with the dream of one day building a structure to house the religious and cultural
        activities
        of their growing young families.
        Today, that dream is reality as the Mosque Foundation has become one of the busiest mosques in America, serving
        a
        community of more than 50,000 Muslims. </p>
</div>

<div class="overflowTest">
    <p class="mat-body">
        Built in 1981 on a few acres of swampy land in the middle of mostly abandoned prairie in Bridgeview,
        the Mosque Foundation began as a small structure with a maximum prayer hall capacity of 300 worshippers.
        No one could foresee that the mosque’s establishment would inspire a Muslim neighborhood of hundreds of
        beautiful
        new homes around the mosque,
        two full-time Islamic schools at its perimeters, a Community Center down the road, and dozens of thriving
        businesses.
    </p>
</div>
<div class="overflowTest">
    <p class="mat-body">
        The community has steadily diversified to include Muslims of many languages and experiences—all praying
        side-by-side.
        Imams are active in education, counseling, spiritual guidance, and arbitration. Community members work with
        local
        and national Islamic, interfaith,
        and civic organizations on numerous initiatives such as protecting American civil liberties, empowering Muslims,
        improving the quality of urban life, and helping the poor, the immigrants, and the oppressed by advocating for
        justice and peace.
    </p>
</div>
<div class="overflowTest">
    <p class="mat-body">
        Very early on, Chicago area Muslims rented various sites around the south side of Chicago to hold congregational
        Eid
        Prayers and celebrations.
        Friday prayers were sometimes held in storefront properties of Muslim-owned businesses. As the population of the
        Muslim community grew, the need was realized to purchase property.
        So, in 1963, a church located at 6500 S. Steward Avenue was purchased and converted into a prayer hall and
        school
        for the community of more than a hundred Arab Muslim families living in the southwest side of Chicago at the
        time.
        Arabic language and religion classes were held in the Steward property, as well as various community functions.
        Several years later, the building was sold to purchase a storefront property at 79th and Clyde Avenue.
    </p>
</div>
<div class="overflowTest">
    <p class="mat-body">
        The Clyde property was sold shortly thereafter, with the proceeds reserved to purchase land in Bridgeview, where
        the
        Mosque currently stands. Designs of the Mosque were presented in 1977, and construction began in November 1978.
        Three years later, in 1981, the doors to the Mosque Foundation were officially opened, and the first
        congregational
        prayers were held. All five daily obligatory prayers and Friday congregational prayers were offered from the
        start,
        as well as nightly Taraweeh prayers during the month of Ramadan.
        Quran recitation classes, Hadith lectures, and regular monthly meetings were established to serve the spiritual
        and
        social needs of the community.
    </p>
</div>
<div class="overflowTest">
    <p class="mat-body">
        It is impossible to overestimate the impact the Mosque Foundation has had on the community, particularly the
        youth.
        While a youth group was formed very early on to cater to the needs of the younger generation, a separate
        building
        designated for the youth was purchased and opened in 1996.
        We have witnessed young men who seemed destined to a life of crime and violence become outstanding citizens who
        are
        now students and professionals in a variety of fields, due largely in part to those dedicated youth mentors.
    </p>
</div>
<div class="overflowTest">
    <p class="mat-body">
        During the 1990’s, the Mosque Foundation community expanded greater than anyone could have predicted.
        The growing needs and increasing numbers required the Mosque Foundation to expand its original facility, which
        was
        completed in 1998.
        Yet, even as the new prayer area nearly doubled in size, two Friday Congregational Prayers and two evening
        Ramadan
        Taraweeh Prayers were still needed to serve the large community.
        Among the many functions of a mosque is to serve the needy, and its various roles in serving the community
        continues
        to grow. For example, in 2005 the Mosque Foundation opened a Community Food Pantry to help combat hunger for low
        income families in the local community.
    </p>
</div>