.overflowTest {
    flex-basis: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    hyphens: auto;
}

p {
    font-family: 'PT Serif', serif;
        font-size: 16px;
}
.mat-grid-list {
    position: static;
}