<mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile [colspan]="9" [rowspan]="2" [style.background]="lightpink">
        <div>
            <h1>VISION, MISSION & VALUE</h1>
            <h4>VISION STATEMENT</h4>
            <P>Our vision is to be the leading mosque in the United States in providing Islamic guidance and services to the community.</P>
            <h4>MISSION STATEMENT</h4>
            <p>The Mosque Foundation serves the spiritual, religious and communal needs of area Muslims by means of nurturing their faith, upholding their values,
             and fostering the well-being of the surrounding community through worship, charity, education, outreach, and civic engagement.</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="10">
        <div>
            <app-calender-right-panel></app-calender-right-panel>
        </div>
    </mat-grid-tile>

</mat-grid-list>


