<mat-grid-list cols="12" rowHeight="110px">
    <mat-grid-tile [colspan]="9" [rowspan]="3">
        <div>
            <h1 class="mat-headline">VISION, MISSION & VALUE</h1>
            <h4 class="mat-title">VISION STATEMENT</h4>
            <P>Our vision is to be the leading mosque in the United States in providing Islamic guidance and services to the community.</P>
            <h4 class="mat-title">MISSION STATEMENT</h4>
            <p class="mat-body">The Mosque Foundation serves the spiritual, religious and communal needs of area Muslims by means of nurturing their faith, upholding their values,
             and fostering the well-being of the surrounding community through worship, charity, education, outreach, and civic engagement.</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="11">
        <div>
            <app-calender-right-panel></app-calender-right-panel>
        </div>
    </mat-grid-tile>

</mat-grid-list>


